{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<div class="container">
    <p>
        {% blocktrans %}
        Olvidaste tu contraseña? Ingresa tu email en el formulario y te enviaremos las instrucciones para crear una nueva.
        {% endblocktrans %}
    </p>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Restablecer contraseña' %}" />
    </form>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
