{% load i18n %}

{% blocktrans %}Saludos{% endblocktrans %} {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %},

{% blocktrans %}
Usted está recibiendo este email ya que usted (o alguien pretendiendo ser usted)
solicitó que su contraseña sea restablecida en el sitio //127.0.0.1:8000. Si usted no 
desea restablecer su contraseña, por favor ignore este mensaje.
{% endblocktrans %}

{% blocktrans %}
Para restablecer su contraseña, por favor haga click en el siguiente link o copie
y peguelo en su navegador web:
{% endblocktrans %}


  {{ protocol }}://127.0.0.1:8000{% url 'auth_password_reset_confirm' uid token %}


{% blocktrans %}Your username, in case you've forgotten:{% endblocktrans %} {{ user.get_username }}


{% blocktrans %}Best regards{% endblocktrans %},
{{ site_name }} {% blocktrans %}Management{% endblocktrans %}


{# This is used by django.contrib.auth #}
