{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<br><br>
<div class="container" id="formulario"><br>
<div class="container">
    <p>
        {% blocktrans %}
        Olvidaste tu contraseña? Ingresa tu email en el formulario y te enviaremos las instrucciones para crear una nueva.
        {% endblocktrans %}
    </p>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="sumbit" class="btn btn-info" value="{% trans 'Restablecer contraseña' %}"> Restablecer contraseña</button>
    </form><br>
</div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
