{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}
<br><br>
<div class="container" id="formulario"><br>
<div class="container">
<center><h1>Registrarse</h1></center><br>
<form method="post" action="" id="hola">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="sumbit" class="btn btn-info" value="{% trans 'Enviar' %}"> Enviar</button>
</form><br>
</div>
</div>
<br><br>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
