<!DOCTYPE html>
<html lang="en">

<head>
    {% extends "productos/base.html" %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body>
    {% block content %}
    <!--NavBar-->

    <!--Carrusel-->

    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>

        <!-- Contenido del carrusel -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'imagenes/fondo-reposteria.jpg' %}" class="foto1 texto-carrusel" alt="foto1" id="fotoCarrusel1">
                <div class="carousel-caption d-none d-md-block">
                    <h2>Tu pagina web de repostería</h2>
                    <p>Lo que buscas, a tu alcance.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'imagenes/fondo-reposteria2.jpg' %}" class="foto2 texto-carrusel" alt="foto2" id="fotoCarrusel2">
                <div class="carousel-caption d-none d-md-block">
                    <h2>Productos a tu disposición</h2>
                    <p>Todo tipo de productos para tus recetas.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'imagenes/fondo-reposteria3.jpg' %}" class="foto3 texto-carrusel" alt="foto3" id="fotoCarrusel3">
                <div class="carousel-caption d-none d-md-block">
                    <h2>Categoria de productos</h2>
                    <p>Revisa las diferentes categorias de productos disponibles para la venta.</p>
                </div>
            </div>
        </div>
        <!-- Botones de movimiento del carrusel -->
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!--Fin carrusel-->

    <!-- Productos destacados -->
    <br><br>
    <h2 class="content-center txt-productos-destacados">PRODUCTOS DESTACADOS</h2>
    <hr>
    <br>
    <div class="row">
        {% for Producto in productos %}
        <div class="col-lg-4">
            <div class="card content-center" style="width: 18rem;">
                <img src="{{Producto.imagenURL}}" width="284" height="284" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{Producto.nombre}}</h5>
                    <hr>
                    <h5>${{Producto.precio}}</h5>
                    <button data-product={{Producto.id}} data-action="add"
                        class="btn btn-outline-secondary btn-añadir actualizar-carrito"
                        style="margin-bottom: 15px;">Añadir al carrito</button>
                    <a href="#" class="btn btn-outline-success">Detalles</a>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}

    {% block javascript %}
    <!-- Scripts-->

    <!-- Scripts de JS y Bootstrap -->
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="/index/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>

    <script>
        window.sr = ScrollReveal();
        sr.reveal('.card', {
            duration: 1500,
            origin: 'right',
            distance: '1000px'
        });
        sr.reveal('.txt-productos-destacados', {
            duration: 2000,
            origin: 'left',
            distance: '200px'
        });

    </script>

    {% endblock %}
</body>
<!-- Fin Footer -->
</html>