<!DOCTYPE html>
<html lang="en">

<head>
    {% extends "productos/base.html" %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utensilios</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>
    {% block content %}

    <br>
    <h2 class="container">UTENSILIOS</h2>
    <hr>

    <br>
    <div class="row">
        {% for Producto in productos  %}
        <div class="col-lg-4">
            <div class="card content-center" style="width: 18rem;">
                <img src="{{Producto.imagenURL}}" width="284" height="284" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{Producto.nombre}}</h5>
                    <hr>
                    <h5>${{Producto.precio}}</h5>
                    <button data-product={{Producto.id}} data-action="add"
                        class="btn btn-outline-secondary btn-añadir actualizar-carrito"
                        style="margin-bottom: 15px;">Añadir al carrito</button>
                    <a href="#" class="btn btn-outline-success">Detalles</a>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <br>
    {% endblock %}

    {% block javascript %}
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="/index/main.js"></script>

    <script>
        window.sr = ScrollReveal();
        sr.reveal('.card', {
            duration: 1500,
            origin: 'right',
            distance: '1000px'
        });
    </script>
    {% endblock %}

</body>
<!--Fin Footer -->
</html>